[MESSAGES CONTROL]
disable=
    line-too-long,
    import-error,
    too-few-public-methods,
    redefined-builtin,
    invalid-name,
    broad-except,
    too-many-locals,
    missing-class-docstring