body {
    font-family: Arial;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left, .right {
  display: inline-block;
  max-width: 30%;
  margin-left: 40px;
  margin-right: 40px;
}

.nft {
  margin: auto;
}

.flashes {
  font-weight: bold;
  color: green;    
}

.name {
  font-size: 32px;
}

img {
  border-radius: 25px; 
  border-style: solid;
  border-width: 5px;
  max-width: 500px;
  min-width: 500px;
}

input[type=submit] {
  background-color: #045faa;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  width: 125px  
}

.explanation {
  color: #045faa;
}

.dropbtn {
  background-color: #045faa;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  width: 300px
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #356eb8;}

.btnStack {
  font-family: monospace;
  background-color: rgb(0, 102, 255);
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius:  15px 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a.btnStack:hover {
  background-color: #000;
}

.left1{
  float: left
}

.right1{
  float: right
}

.centerbutton{
  margin: 8px;
}

#navigation{
  height: 50px;
  width: auto;
  
}
.cell {
  border: 1.5px solid black;
  border-radius: 10px;
  box-shadow: 2px 4px;
}

body {
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(1.jpg);
  background-position: center;
  background-size: cover;
  height: 109vh;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}