body {
    font-family: Arial;
    text-align: center;
}

h1 {
    font-size: 100px;
}

img {
    border-radius: 25px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
}

.nft {
    border-style: solid;
    border-radius: 25px;
}