body {
    font-family: Arial;
    text-align: center;
}

h1 {
    font-size: 100px;
}

img {
    border-radius: 25px;
    max-width: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    max-width: 100%;
}

.nft {
    border-style: solid;
    border-radius: 25px;
}

.btnStack {
  font-family: monospace;
  background-color: rgb(0, 102, 255);
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius:  15px 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
  
  a.btnStack:hover {
    background-color: #000;
  }
  
  .left{
    float: left
    
  }
  .centerbutton{
    margin: 8px;
  }
  
  #navigation{
    height: 50px;
    width: auto;
  }
  .cell {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 2px 4px; 
  }
  

  body {
    background: linear-gradient(-45deg,  #f3e5f5, #61c7f0, #23a6d5, #0077ff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

