<html>

<head>
    <title>NFT Info </title>
    <link rel="stylesheet" href="/static/homepage.css">

</head>

<body>

    <div id=navigation class="cell small-12 medium-12 large-12">
        <nav class="centerbutton">
            <div class="left">
                <a href={{ url_for('index') }} class="btnStack ">Mainpage</a>
            </div>
            <div class="right">
                <a href={{ url_for('why') }} class="btnStack  ">The why</a>
                <a href={{ url_for('history') }} class="btnStack  ">History</a>
                <a href={{ url_for('crypto') }} class="btnStack  ">Crypto Currency</a>
                <a href={{ url_for('purchase') }} class="btnStack  ">How To Purchase</a>
                <a href={{ url_for('future') }} class="btnStack  ">The Future</a>
                <a href={{ url_for('logout') }} class="btnStack  ">Logout</a>
            </div>

        </nav>
    </div>
    <h1>What is Crypto Currency</h1>
    <div id="middleblock">
        <p class="center">
            A cryptocurrency is a digital currency that can be used to buy goods and services,
            but uses an online ledger with strong cryptography to secure online transactions. Much of the interest in
            these unregulated currencies is to trade for profit, with speculators at times driving prices skyward.
        </p>

        <h2 class="center">What is the blockchain</h2>
        <p class="center">
            Before we get into Crypto you have to understand the blockchain.
            The blockchain is a system of recording information in a way that makes it difficult or impossible to
            change, hack, or cheat the system. Each block in the chain contains a number of transactions, and every time
            a
            new transaction occurs on the blockchain, a record of that transaction is added to every participant's
            ledger.This is how people get crypto by doing a thing called mining which is done on the blockchain.

        </p>

        <h2 class="center">What is mining</h2>
        <p class="center">
            Well Mining is the process of validating and recording new transactions on a blockchain in shorts terms
            mining is the process of
            verifying blockchain transaction, as well as hashing them to prevent shenanigans from sliding under the
            radar. However, depending
            on the consensus model of the blockchain, typically proof of work or proof of stake, the mining process will
            be different. So when you mine on the blockchain
            and meet all expectations you are rewared a Crypto currency.

        </p>

        <h2 class="center">Types of Crypto</h2>
        <p class="center">
            There are tons of cryptocurrency out there each possessing diffrent values.
            Each changing value everyday.
        <h3>Examples:(value as of November 15,2021)</h3>
        <ul>
            <li>Bitcoin:1 Bitcoin =$62,312.44</li>
            <li>Ethereum:1 Ethereum =$4,405.64</li>
            <li>Binance Coin=1 Binance Coin =$629.25</li>
            <li>Litecoin:=1 Litcoin =$251.33</li>
            <li>Solana: 1 Solana=$231.92</li>
        </ul>


        </p>



</body>

</html>