<html>

<head>
    <title>NFTStache</title>
    <link href="/static/details_style.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="left">
            <div class="nft">
                <img src="{{ image_url }}"> <br>
                <button class="save">Save NFT</button>
            </div>

            <b>Created By: {{ creator }}</b> <br>
            <b>Description: {{ description }}</b> <br><br>

            <div class="dropdown">
                <button class="dropbtn"><b><u>Pricing: {{ crypto }} {{ price }}</u></b></button>
                <div class="dropdown-content">
                    <a href="#">Explanation/Context</a>
                </div>
            </div>
            <br><br>
            <div class="dropdown">
                <button class="dropbtn"><b><u>Details</u></b></button>
                <div class="dropdown-content">
                    <a href="#">Contract Address: {{contract_address}}</a>
                    <a href="#">Token ID: {{token_id}}</a>
                    <a href="#">Explanation/Context</a>
                </div>
            </div>
        </div>

        <div class="right">
            <b>Info</b>
        </div>
    </div>
</body>

</html>