<html>

<head>
    <title>NFTStache</title>
    <link href="/static/explore_style.css" rel="stylesheet">
</head>

<body>
    <h1>Explore NFTs</h1>
    <div class="container">
        {% for i in range(16) %}
        <div class="nft">
            <img src="{{ image_urls[i] }}" alt="NFT iamge"> <br>
            <b>{{ collections[i] }}</b> <br>
            <b>{{ names[i] }}</b> <br>
            <form action="/details" method="POST">
                <b>Click to learn more about this NFT!</b>
                <input type="hidden" name="contract_address" value="{{ contract_addresses[i] }}">
                <input type="hidden" name="token_id" value="{{ token_ids[i] }}">
                <input type="submit" value="Learn More">
            </form>
        </div>
        {% endfor %}
    </div>
</body>

</html>