<html>

<head>
    <title>NFT Info </title>
    <link rel="stylesheet" href="/static/homepage.css">

</head>

<body>

    <div id=navigation class="cell small-12 medium-12 large-12">
        <nav class="centerbutton">
            <div class="left">
                <a href={{ url_for('index') }} class="btnStack ">Mainpage</a>
            </div>
            <div class="right">
                <a href={{ url_for('why') }} class="btnStack  ">The why</a>
                <a href={{ url_for('history') }} class="btnStack  ">History</a>
                <a href={{ url_for('crypto') }} class="btnStack  ">Crypto Currency</a>
                <a href={{ url_for('purchase') }} class="btnStack  ">How To Purchase</a>
                <a href={{ url_for('future') }} class="btnStack  ">The Future</a>
                <a href={{ url_for('logout') }} class="btnStack  ">Logout</a>
            </div>

        </nav>
    </div>

    <h1>The future of NFTS</h1>
    <div id="middleblock">
        <p class="center">
            NFTs are going to be a big part of the future. As we move into a more technological society NFTs will be a
            big step into that. Companies are now going virtual with the rise of the Metaverse companies are hopping on
            to the blockchain and building software on top of that. With that they are creating NFTs that hold monetary
            value. However NFTs are going in many directions and example would be in the video game industry. Video
            games companies are trying to make NFTs be able to crossplay in different games. Imagine playing as
            Spiderman in the legend of zelda or having your own unique character inside your favorite videogame or even
            being able to use NFTs in VR. With that as the future progress NFTs will become virtual land,
            tokens,accessories and many other things sooner or later you'll be charging people to live or build on your NFT.
            NFTs might even become a social status. In the foreseeable future NFTs has a lot waiting for us.
        </p>


</body>

</html>