<html>

<head>
    <title>NFT Info </title>
    <link rel="stylesheet" href="/static/homepage.css">

</head>

<body>

    <div id=navigation class="cell small-12 medium-12 large-12">
        <nav class="centerbutton">
            <div class="left">
                <a href={{ url_for('index') }} class="btnStack ">Mainpage</a>
            </div>
            <div class="right">
                <a href={{ url_for('why') }} class="btnStack  ">The why</a>
                <a href={{ url_for('history') }} class="btnStack  ">History</a>
                <a href={{ url_for('crypto') }} class="btnStack  ">Crypto Currency</a>
                <div class="dropdown">
                    <span>
                        <a href={{ url_for('purchase') }} class="btnStack dropdown ">How To Purchase</a>
                    </span>
                    <div class="dropdown-content">
                        <a href={{ url_for('wallets') }} class="btnStack  ">Wallets</a>
                        <a href={{ url_for('ethereum') }} class="btnStack  ">Ethereum</a>
                        <a href={{ url_for('polygon') }} class="btnStack  ">Polygon</a>
                        <a href={{ url_for('klaytn') }} class="btnStack  ">Klaytn</a>            
                    </div>
                  </div>
                <a href={{ url_for('future') }} class="btnStack  ">The Future</a>
                <a href={{ url_for('logout') }} class="btnStack  ">Logout</a>
            </div>
        </nav>
    </div>
    <div id="middleblock">
        <h1 class="type">History</h1>
    </div>
   
    <ul class="shadow">

        <li>2012-2013: Colored coins</li>
        The idea of NFTs emerged from what is called a “colored coin”,
        initially issued on the Bitcoin blockchain in 2012-2013. Colored Coins are made of small denominations
        of a bitcoin and can be as small as a single satoshi, the smallest unit of a bitcoin. Colored coins are tokens
        that represent represent a multitude of assets and have multiple use cases on the blockchain and can be used to
        prove ownership of any asset, from precious
        metals to cars to real estate, even equities, and bonds.

        <li>2014: Counterparty</li>
        Well because of colored coins it made people realize the importance of having assets on the blockchain.
        Which leades into that in 2014 Robert Dermody, Adam Krellenstein, and Evan Wagner founded Counterparty. Which is
        a peer-to-peer financial platform and distributed, open-source internet protocol built on the Bitcoin
        blockchain.
        Counterparty allowed asset creation and had a decentralized exchange, thus providing a way for users to create
        their own tradable currencies. It had numerous ideas and opportunities, that it is decentralized.

        <li>2015: Spells of Genesis on Counterparty</li>
        In April 2015 Counterparty partnered up with the game creators of Spells of Genesis. The Spells of Genesis game
        creators were not only pioneers for issuing in-game assets onto a blockchain via Counterparty, but they were
        also the first to launch an ICO. ICOs were then referred to as crowdfunding. The creators helped fund the
        development
        of Counterparty by introducing
        their own token a in-game currency called BitCrystal.

        <li>2016: Trading Cards on Counterparty</li>
        In August 2016 new trends began to emerge. Counterparty teamed up with Force of Will, a popular trading card
        game,
        and launched their cards on the Counterparty platform.Force of Will was the 4th ranked card
        game by sales in North America Behind Pokemon, Yu-Gi-Oh and Magic,
        Force of Will was the 4th ranked according to sales volume.
        Their entrance into the ecosystem, where they had no prior blockchain or
        cryptocurrency experience before, signaled the value of putting such assets on a blockchain.

        <li>2016: Rare Pepes on Counterparty</li>
        In 2016, memes entered the blockchain. In October of 2016, memes started to make their way onto
        the Counterparty platform. People started to add assets to a particular meme called “Rare Pepes.”
        Rare Pepes are a meme featuring an interesting frog character that has acquired an intense fanbase over
        the years. What started out to be a comic character named Pepe the Frog, has now steadily become an internet
        sensation as one of the most popular memes. Portion's Founder, Jason Rosenstein, along with Louis Parker,
        ran the first live Rare Pepe auction which was held at the inaugaral Rare Digital Art Festival.
        CryptoArt was born with the Rare Pepe Wallet and it was the first time creators around the world could
        submit and sell their own artwork. It was also the first time digital art could have intrinsic value.

        <li>March 2017:Rare Pepes on Ethereum</li>
        With Ethereum gaining prominence in early 2017, memes started to be traded there as well.
        In March of 2017, a project by the name of Peperium was announced to be a “decentralized meme
        marketplace and trading card game (TCG) that allowed anyone to create memes that live eternally
        on IPFS and Ethereum.” Similar to Counterparty, Peperium also had an associated token, with the ticker
        symbol of RARE, which was used for meme creation and paying listing fees.

        <li>June 2017: Cryptopunks</li>
        As Rare Pepes trading picked up, creative technologists by the names of John Watkinson and Matt Hall,
        the creators of Larva Labs,d ecided to create their own NFT project with a slight twist and created unique
        characters generated on the Ethereum blockchain. No two characters would be the same and they would be
        limited to 10,000. The project name, Cryptopunks, was referenced to an experiment with Bitcoin in the 1990s and
        can be described as an ERC721 and ERC20 hybrid. ERC20,the most common Ethereum Token Standard, has rules that
        allow tokens to interact with each other, but is not the best for creating
        unique tokens. Enter, ERC721, which had a purpose to be the standard for NFTs on the Ethereum blockchain. ERC721
        assists in tracking ownership and movements of individual tokens from a single smart contract.

        <li>October 2017: CryptoKitties</li>
        CryptoKitties NFTs hit the ground running using ERC721. They are a blockchain-based virtual
        game that allows players to adopt, breed, and trade virtual cats using Ethereum.They exploded into
        popularity and landed features on major news stations including CNBC and Fox News. CryptoKitties was created by
        a Vancouver-based company called Axiom Zen. The rise of CryptoKitties coincided with the 2017
        crypto bull market, which added more fuel to the fire. People were buying, breeding and trading
        virtual cats like crazy. This opened many people’s eyes to the potential of non-fungible tokens.
        Axiom Zen then spun out a company called Dapper Labs, which secured $15 million dollars in funding
        from top investors including a16z and Google Ventures. After witnessing the activity within the CryptoKitties
        community and seeing top investors pour money into Dapper Labs, people began to realize the true power of NFTs.

        <li>2018-2021: The NFT Explosion</li>
        Between 2018 and 2021 NFTs slowly move into public awareness before exploding into mainstream adoption in early
        2021.The seemingly underground movement that was taking the crypto
        community by storm has slowly been transitioning into more mainstream art. This transition reached an inflection
        point in Valentine’s day 2018 when artist Kevin Abosch partnered with
        GIFTO for a charitable auction. The partnership led to a $1M transaction of a beautiful piece of CryptoArt
        called The Forever Rose. Mr. Abosch continued to raise the stakes when he started using a combination of the Ethereum blockchain with his
        blood in a project called “IAMA Coin”. Abosch has not been the only artist adopting this exciting form of
        expression. It has slowly been gaining traction with artists exciting to push their creative boundaries.
        The NFT marketplaces are thriving, led by OpenSea and SuperRare gaining ground.
        The trade volumes are small in comparison to other crypto markets, but they are growing at a brisk pace and have
        come a long way. On-boarding into the NFT ecosystem has become easier as Web3 wallets, like Metamask, continue
        to improve.


    </ul>


</body>

</html>