<html>
    <head>
        <title>NFT Information</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <nav>
           
            <button type="button"><a href={{ url_for('signup') }}>Explore NFTS</a></button>
            <button type="button"><a href={{ url_for('signup') }}>The why</a></button>
            <button type="button"><a href={{ url_for('signup') }}>History</a></button>
            <button type="button"><a href={{ url_for('signup') }}>Crypto Currency</a></button>
            <button type="button"><a href={{ url_for('signup') }}>How To Purchase</a></button>
            <button type="button"><a href={{ url_for('signup') }}>The Future</a></button>

           
        </nav>
    </body>
</html>
