<html>

<head>
    <title>NFT Information </title>
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>

    <div id=navigation class="cell small-12 medium-12 large-12">
        <nav class="centerbutton">
            <div class="left">
                <a href={{ url_for('signup') }} class="btnStack ">Explore NFTs</a>
            </div>
            <div class="right">
                <a href={{ url_for('signup') }} class="btnStack  ">The why</a>
                <a href={{ url_for('signup') }} class="btnStack  ">History</a>
                <a href={{ url_for('signup') }} class="btnStack  ">Crypto Currency</a>
                <a href={{ url_for('signup') }} class="btnStack  ">How To Purchase</a>
                <a href={{ url_for('signup') }} class="btnStack  ">The Future</a>
            </div>
        </nav>
    </div>
    <h1 >What are NFTs</h1>





</body>

</html>