<!DOCTYPE html>
<html lang = "eng">
<head>
        <title> NFTStache </title>
        <link rel = "stylesheet" href = "style2.css">
</head>
<body>
    <div class="main">
        <div class = "navbar">
            <div class="icon">
                <h2 class = "logo">NFTStache</h2>
            </div>


        <div class="menu">
            <ul>
                <li><a href ="#">Home</a></li>
                <li><a href ="#">What</a></li>
                    <p class= "center">
                    </p>
                <li><a href ="#">Why </a></li>
                <li><a href ="#">Created </a></li>
            </ul>
        </div>

        <div class="search">
            <input class ="srch" type="search" name="" placeholder="Type To Text">
            <a href="#"><button class="btn">search</button></a> 
        </div>

        <div class="content">
            <h1> <span>Development</span></h1>
            <p class="par">This webapp aims to deliver an app that teaches people about NFTs. 
                <br>The app will be purposed towards users who are first getting into NFTs or <br> have not even heard of them before.
                <br>It will provide users with information that lets them know everything they need to know about NFTs.<br>This includes what they are, why they are so popular and expensive, 
                <br></p>
                
                <button class="cn"><a href="#">ENJOY THE APP</a></button>

                <div class="form">
                    <h2> Login Here</h2>
                    <input type="email" name="email" placeholder="Enter Email Here">
                    <input type ="password" name = "" placeholder="Enter Password Here">
                    <button class = "btnn"><a href="#">login </a></button>

                    <p class="link">Don't Have an Account<br>
                    <a href="#">Sign up </a> Here</a></p>
                    
                </div>
        </div>
        </div>
    </div>
</body>
</html>