<!DOCTYPE html>
<html lang = "eng">
<head>
        <title> NFTStache </title>
        <link rel = "stylesheet" href = "style.css">
</head>
<body>
    <div class="main">
        <div class = "navbar">
            <div class="icon">
                <h2 class = "logo">NFTStache</h2>
            </div>


        
        <div class="content">
            <p class="par">
            <br>
            <br>
            <br>
            <br>
            <br>
                <br><span><strong>What is NFTStache</strong></span>:<br>Non-Fungible Token. It is a digital asset that can be bought and sold <br>like any other property.
                <br><strong><span>Our Goal</strong></span>:<br>One of the greatest usage of buying art is it lets you financially support<br>artists you like, and that's true with NFTs.Buying an NFT also usually gets<br>you some basic usage rights,like being able to post the image online or set it<br>as your profile picture
                <br><strong><span>Developers</strong></span>:<br>Kevina Blanco,Romina Karimaei,Jairo Cruz,Nick Albano<br>
                <br></p>
                
                <button class="cn"><a href="#">ENJOY THE APP</a></button>

                <div class="form">
                    <h2> Login Here</h2>
                    <form action="/login" method="POST">
                        <input type="text" name="email" placeholder="Enter Email Here">
                        <input type="password" name="password" placeholder="Enter Password Here">
                        <input class="btnn" type="submit" value="Login">
                    </form>

                    <p class="link">Don't Have an Account<br>
                        <a href="/signup">Sign up </a> Here</a>
                    </p>
                    
                </div>
        </div>
        </div>
    </div>
</body>
</html>