<html>

<head>
    <title>NFT Info </title>
    <link rel="stylesheet" href="/static/homepage.css">

</head>

<body>

    <div id=navigation class="cell small-12 medium-12 large-12">
        <nav class="centerbutton">
            <div class="left">
                <a href={{ url_for('index') }} class="btnStack ">Mainpage</a>
            </div>
            <div class="right">
                <a href={{ url_for('why') }} class="btnStack  ">The why</a>
                <a href={{ url_for('history') }} class="btnStack  ">History</a>
                <a href={{ url_for('crypto') }} class="btnStack  ">Crypto Currency</a>
                <div class="dropdown">
                    <span>
                        <a href={{ url_for('purchase') }} class="btnStack dropdown ">How To Purchase</a>
                    </span>
                    <div class="dropdown-content">
                        <a href={{ url_for('wallets') }} class="btnStack  ">Wallets</a>
                        <a href={{ url_for('ethereum') }} class="btnStack  ">Ethereum</a>
                        <a href={{ url_for('polygon') }} class="btnStack  ">Polygon</a>
                        <a href={{ url_for('klaytn') }} class="btnStack  ">Klaytn</a>            
                    </div>
                  </div>
                <a href={{ url_for('future') }} class="btnStack  ">The Future</a>
                <a href={{ url_for('logout') }} class="btnStack  ">Logout</a>
            </div>

        </nav>
    </div>
   
    <div id="middleblock">
        <h1 class="type">How to buy with Polygon</h1>

        <p class="center shadow">
            Polygon is a protocol and a framework for building and connecting Ethereum-compatible blockchain networks.
            Aggregating scalable solutions on Ethereum supporting a multi-chain Ethereum ecosystem. With this is a
            another way of buying NFTs you will also use your wallet again but there is a catch when you buy with
            Ethereum only you pay at a gas price that changes
            with ploygon you also pay a gas fee but its fixed sometimes you get a better deal. Since it takes computing
            power to
            buy A NFT and you have to pay the fee of the computing power you use which is called gas.However you have to
            exchange you Ethereum into Polygon for any NFT that accepts this payment method.


        </p>

</body>

</html>