<html>

<head>
    <title>NFT Info </title>
    <link rel="stylesheet" href="/static/homepage.css">

</head>

<body>

    <div id=navigation class="cell small-12 medium-12 large-12">
        <nav class="centerbutton">
            <!--
                might make this into more tabs since it a lengty process to purchase.
            -->
            <div class="left">
                <a href={{ url_for('index') }} class="btnStack ">Mainpage</a>
            </div>

        </nav>
    </div>
    <h1>How to Purchase NFTS</h1>
    <div id="middleblock">

        <p class="center">
            Well to purchase NFTs you have to find a marketplace where NFTs are sold. One main source is OpenSea.
            There people can purchase NFTs. But there is a long process to purchase NFTs you can just always 
            swipe your credit card and call it day. Will be focusing on how to purchase on the OpenSea marketplace.
           
        </p>
        
        <h2 class="center">Wallets</h2>
        <p class="center">
           
        </p>

        <h2 class="center">wallets</h2>
        <p class="center">
           
        </p>


</body>

</html>