<html>

<head>
    <title>NFT Information </title>
    <link rel="stylesheet" href="/static/homepage.css">

</head>

<body>
    <div id=navigation class="cell small-12 medium-12 large-12">
        <nav class="centerbutton">
            <div class="left">
                <a href={{ url_for('explore') }} class="btnStack ">Explore NFTs</a>
                <a href={{ url_for('saved') }} class="btnStack  ">Saved</a>
            </div>
            <div class="right">
                <a href={{ url_for('why') }} class="btnStack  ">The why</a>
                <a href={{ url_for('history') }} class="btnStack  ">History</a>
                <a href={{ url_for('crypto') }} class="btnStack  ">Crypto Currency</a>
                <a href={{ url_for('purchase') }} class="btnStack  ">How To Purchase</a>
                <a href={{ url_for('future') }} class="btnStack  ">The Future</a>
                <a href={{ url_for('logout') }} class="btnStack  ">Logout</a>
            </div>
        </nav>
    </div>
    <h2 style="text-align: center;">Saved NFT's</h2>
    <ul>
        {% for i in range(savednfts|length) %}
        <li><img src="{{ savednfts[i].image_url }}" alt="NFT image"></li>
        {% if savednfts[i].name == None %}
        <li># {{ savednfts[i].token_id }}</li>
        {% else %}
        <li>{{ savednfts[i].name }}</li>
        {% endif %}
        <form action="/details" method="POST">
            <input type="hidden" name="contract_address" value="{{ savednfts[i].contract_address }}">
            <input type="hidden" name="token_id" value="{{ savednfts[i].token_id }}">
            <input type="submit" value="Details">
        </form>
        {% endfor %}
    </ul>
</body>

</html>