<html>

<head>
    <title>NFT Information </title>
    <link rel="stylesheet" href="/static/saved_style.css">

</head>

<body>
    <div id=navigation class="cell small-12 medium-12 large-12">
        <nav class="centerbutton">
            <div class="left">
                <a href={{ url_for('index') }} class="btnStack ">Mainpage</a>
                <a href={{ url_for('explore') }} class="btnStack ">Explore NFTs</a>
            </div>
            <div class="right">
                <a href={{ url_for('why') }} class="btnStack  ">The why</a>
                <a href={{ url_for('history') }} class="btnStack  ">History</a>
                <a href={{ url_for('crypto') }} class="btnStack  ">Crypto Currency</a>
                 <div class="dropdown">
                    <span>
                        <a href={{ url_for('purchase') }} class="btnStack dropdown ">How To Purchase</a>
                    </span>
                    <div class="dropdown-content">
                        <a href={{ url_for('wallets') }} class="btnStack  ">Wallets</a>
                        <a href={{ url_for('ethereum') }} class="btnStack  ">Ethereum</a>
                        <a href={{ url_for('polygon') }} class="btnStack  ">Polygon</a>
                        <a href={{ url_for('klaytn') }} class="btnStack  ">Klaytn</a>            
                    </div>
                  </div>
                <a href={{ url_for('future') }} class="btnStack  ">The Future</a>
                <a href={{ url_for('logout') }} class="btnStack  ">Logout</a>
            </div>
        </nav>
    </div>

    <h1>Saved NFT's</h1>

    <div class="container">
        {% for i in range(savednfts|length) %}
        <div class="nft">
            <img src="{{ savednfts[i].image_url }}" alt="NFT image"> <br><br>
            {% if savednfts[i].name == None %}
            <b># {{ savednfts[i].token_id }}</b> <br>
            {% else %}
            <b>{{ savednfts[i].name }}</b> <br>
            {% endif %}
            <form action="/details" method="POST">
                <input type="hidden" name="contract_address" value="{{ savednfts[i].contract_address }}">
                <input type="hidden" name="token_id" value="{{ savednfts[i].token_id }}">
                <input type="submit" value="Details">
            </form>
        </div>
        {% endfor %}
    </div>
</body>

</html>