<!DOCTYPE html>
<html lang="eng">

<head>
    <title> NFTStache </title>
    <link href="/static/style.css" rel="stylesheet">
</head>

<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">NFTStache</h2>
            </div>



            <div class="content">
                <p class="par">
                    <br><br><br><br><br><br>
                    <span><strong>What is NFTStache?</strong></span> <br>
                    <b>
                        NFTStache is your introduction into the world of NFTs.<br>
                        Our app will teach you everything you need to know about NFTs, ranging from <br>what they
                        exactly are, to
                        being able to know how to actually purchase them.<br>
                        Explore real NFTs that are currently on the marketplace, and learn about their real time
                        details.
                    </b> <br><br>
                    <strong><span>Our Goal</strong></span> <br>
                    <b>
                        The topic of NFTs has been on the rise recently and has been booming in popularity.<br>
                        With them being so popular and novel, this leaves many people curious about the world of
                        NFTs.<br>Our goal is to get
                        people on the NFT hype train. We want to provide the knowledge so people can <br>know everything
                        that they need to know about NFTs. Since the world of NFTs can be very lucrative,<br> and its an
                        emerging technology, we want people to
                        be informed on this new phenomenon that is taking over.
                    </b> <br><br>
                    <strong><span>Developers</strong></span> <br>
                    <b>
                        Kevin Blanco<br>
                        Romina Karimaei<br>
                        Jairo Cruz<br>
                        Nick Albano<br>
                    </b>
                </p>

                <div class="form">
                    <h2> Sign up</h2>
                    <form method="POST" action="/signup">
                        <input type="email" name="email" placeholder="Email">
                        <input type="text" name="username" placeholder="Username">
                        <input type="password" name="password" placeholder="Password">
                        <input class="btnn" type="submit" value="Sign Up">
                    </form>

                    <a type="button" href="/login" class="btn btn-dark">Already have an Account</a>

                </div>
            </div>
        </div>
    </div>
</body>

</html>