<!doctype html>
<html lang="en">
<head>
    <title>NFTScache</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}">
</head>
<body>
<form>
    <div class="container">
        <div class="row">
            <div class="padded">
                <h1>NFTScache</h1>
                <div class="text-center">
                    <p>Crafty info making users want to delve deeper</p>
                </div>
            </div>
            <div class="padded">
                <div>
                    <input type="text" placeholder="Enter Email" name="email" required>
                </div>

                <div class="fom-cont">
                    <input type="password" placeholder="Password" name="psw" required>
                </div>

                <button type="submit" class="btn btn-primary">Sign up</button>

                <p><span class="psw">Forgot password?</span></p>
                <hr>
                <a type="button" href="/" class="btn btn-dark">Already have an Account</a>

            </div>
        </div>

    </div>


</form>

</body>
</html>

