<html>

<head>
    <title>NFT Info </title>
    <link rel="stylesheet" href="/static/homepage.css">

</head>

<body>

    <div id=navigation class="cell small-12 medium-12 large-12 shadow">
        <nav class="centerbutton">
            <div class="left">
                <a href={{ url_for('index') }} class="btnStack ">Mainpage</a>
                <a href={{ url_for('explore') }} class="btnStack ">Explore NFTs</a>
                <a href={{ url_for('saved') }} class="btnStack  ">Saved</a>
            </div>
            <div class="right">
                <a href={{ url_for('why') }} class="btnStack  ">The Why</a>
                <a href={{ url_for('history') }} class="btnStack  ">History</a>
                <a href={{ url_for('crypto') }} class="btnStack  ">Crypto Currency</a>
                <div class="dropdown">
                    <span>
                        <a href={{ url_for('purchase') }} class="btnStack dropdown ">How To Purchase</a>
                    </span>
                    <div class="dropdown-content">
                        <a href={{ url_for('wallets') }} class="btnStack  ">Wallets</a>
                        <a href={{ url_for('ethereum') }} class="btnStack  ">Ethereum</a>
                        <a href={{ url_for('polygon') }} class="btnStack  ">Polygon</a>
                        <a href={{ url_for('klaytn') }} class="btnStack  ">Klaytn</a>            
                    </div>
                  </div>
                <a href={{ url_for('future') }} class="btnStack  ">The Future</a>
                <a href={{ url_for('logout') }} class="btnStack  ">Logout</a>
            </div>

        </nav>
    </div>
   
    <div id="middleblock">
        <h1 class="type">Why are NFTs valuable </h1>
        <p class="center shadow">
            Well, NFTs are valuable because it is something that is non-fungible meaning it has
            unique properties so it can't be interchanged with something else.
            For example it could be a house, or a painting, which is one of a kind.
            In conetxt to show how uniquw they are you can take a photo of the painting or buy a print,
            but there will only ever be one original painting. Which leads me to say NFTs are "one-of-a-kind" assets in the digital
            world that can be bought and sold like any other piece of property, but which have no tangible
            form of their own. These digital tokens can be thought of as
            certificates of ownership for virtual or physical assets.
            Now a days NFTs are becoming more and more popular making people very wealthy. If you don't hop on 
            the NFT wave and join later you might be left behind . NFTs are basically the new bitcoin.
        </p>
    </div>


</body>

</html>