<html>

<head>
    <title>NFT Info </title>
    <link rel="stylesheet" href="/static/homepage.css">

</head>

<body>

    <div id=navigation class="cell small-12 medium-12 large-12">
        <nav class="centerbutton">
            <!--
                will add url to diffrent templates in diffrent branch 
            -->
            <div class="left">
                <a href={{ url_for('index') }} class="btnStack ">Mainpage</a>
            </div>

        </nav>
    </div>
    <h1>Why are NFTs valuable </h1>


</body>

</html>